# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
venv/
env/
place/

# Data bases
*.sqlite3
db.sqlite3

# Media and static files
/media/
/staticfiles/

# Logs
*.log
*.out
*.err

# OS-specific files
.DS_Store
Thumbs.db

# IDE and editor files
.vscode/

# Environment variables
.env
# Git files
*.orig